DATABASE_URL="your_database_url"

NODE_ENV="development"

DATABASE_HOST="your_database_host"
DATABASE_PORT=your_database_port
DATABASE_CONNECTION_LIMIT=your_database_connection_limit
DATABASE_DATABASE="your_database_database"
DATABASE_USER="your_database_user"
DATABASE_PASSWORD="your_database_password"

NEXTAUTH_SECRET="your_nextauth_secret"
RESEND_API_KEY="your_resend_api_key"
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"